@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

*{
    /*border: 1px solid;*/
}
body{
    background: #F7F7F7;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.textbox{
    height: 50px;
    width: 70%;
    font-size: 30px;
}
.textboxlink{
    width: 55%;
    text-align: center;
}
.table{
    text-align: center;
    margin: 0 auto;
}
h3{
    font-size: 25px;
    margin: 0px;
}
.middle{
    min-height: 500px;
}
.table th, .table td { 
     border-top: none !important; 
}
nav{
    margin-top: 20px;
    background: #F2F2F2 !important;
    border-radius: 5px !important;
    overflow: hidden !important; 
}
li{
    min-width: 100px;
    text-align: center;
}
li:hover{
    background: #EBEBEB;
    transition: 1s;
}
.numberwidth{
    width: 20px;
}
.title{
    font-size: 25px;
    margin-top: 10px;
}